.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003366;
    padding: 10px 20px;
    color: white;

    .nav {
        display: flex;

        a {
            color: white;
            text-decoration: none;
            padding: 10px;

            &.active {
                background-color: #005cbf; /* Highlight color */
                border-radius: 5px;
            }
        }
        
    }

    .logo{

    }
}
